*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body,
html {
  @apply text-base;
}

h1 {
  @apply text-center text-6xl font-bold;
}
h2 {
  @apply text-3xl font-bold;
}
h3 {
  @apply text-xl font-bold;
}

h4 {
  @apply text-lg font-bold;
}

p {
  @apply text-base;
}

.ck {
  &.ck-content {
    @apply max-h-64 min-h-40;
  }
}
