.card {
  padding: 50px;
  height: 468px;
  background-color: #fff7e1;
}

.header {
  color: #000000;
  font-size: 40px;
  font-family: "Fira Sans";
  font-weight: 500;
  line-height: 52px;
}

.btn {
  cursor: pointer;
  top: 2597px;
  left: 287px;
  width: 111px;
  height: 33px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 23px;
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
  font-family: "Fira Sans";
  font-weight: 700;
  line-height: 15px;
  outline: none;
}

.image {
  position: absolute;
  top: 5%;
  left: 30%;
  width: 557px;
  height: 468px;
  background-image: url("https://assets.api.uizard.io/api/cdn/stream/d715e985-d7f0-46ac-907e-c6d06aac2649.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

h2 {
  margin-top: 50px;
  margin-left: 40px;
}
.trending-travel {
  margin-top: 10px;
  display: flex;
  gap: 260px;
  background-color: #fff;
  padding: 20px 40px;
  font-family: Arial, sans-serif;
}

.trending-travel ul li {
  font-size: 10px;
}

.footer-container {
  width: 100%;
  padding: 40px 20px;

  color: #333;
  font-family: Arial, sans-serif;
}

.bottom-sections {
  padding: 50px;
  height: "291px";
  background-color: #faf1ed;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.section h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section li {
  margin-bottom: 5px;
  font-size: 14px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.footer-info p,
.footer-info a {
  font-size: 14px;
}

.social-icons a {
  margin-right: 10px;
}
